.ant-form {
  .ant-row {
    $pad: 4px;
    margin-left: -$pad;
    margin-right: -$pad;

    .ant-col {
      padding-left: $pad;
      padding-right: $pad;
    }
  }

  &.form-filter {
    margin-bottom: 8px;
  }
}

.ant-input-number {
  width: 100% !important;
}

.form-actions {
  display: flex;
  justify-content: flex-end;

  .ant-btn {
    margin-left: 5px;
  }
}

.button-side-field {
  margin: 28px 0 0;
}

.table-action-buttons {
  button,
  a {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
